/* Estilos globales */
body {
    font-family: "Roboto", sans-serif; /* Fuente de texto global */
    background-color: #dfdfdf; /* Color de fondo del cuerpo */
    margin: 0; /* Elimina márgenes externos */
    padding: 0; /* Elimina relleno externo */
}

/* Estilos del contenedor principal */
.container {
    max-width: 600px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
}

/* Estilos de cada publicación */
.post {
    background-color: #fff; /* Color de fondo de cada publicación */
    border: 1px solid #e1e1e1; /* Borde de cada publicación */
    margin: 16px; /* Márgenes externos de cada publicación */
    padding: 16px; /* Relleno interno de cada publicación */
    display: flex; /* Usa flexbox para el diseño */
    flex-direction: column; /* Apila elementos verticalmente */
    text-align: center; /* Alinea el texto al centro */
}

/* Estilos de las imágenes */
.post img {
    max-width: 100%; /* Hace que la imagen se ajuste al ancho del contenedor */
    height: auto; /* Ajusta la altura automáticamente */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

/* Estilos de la cabecera de la publicación */
.post-header {
    margin-bottom: 8px; /* Márgenes inferiores de la cabecera */
    display: flex; /* Usa flexbox para el diseño */
    justify-content: space-between; /* Coloca elementos en los extremos opuestos */
    align-items: center; /* Centra verticalmente los elementos */
}

/* Estilos del título de la publicación */
.post-header h2 {
    font-size: 18px; /* Tamaño de fuente del título */
    margin: 0; /* Elimina márgenes del título */
    flex: 1; /* El título ocupará todo el espacio disponible a la izquierda */
    text-align: left; /* Alinea el texto del título a la izquierda */
}

/* Estilos de la fecha de la publicación */
.post-date {
    font-size: 14px; /* Tamaño de fuente de la fecha */
    color: #777; /* Color del texto de la fecha */
    text-align: right; /* Alinea el texto de la fecha a la derecha */
}

/* Estilos de la descripción de la publicación */
.post-description {
    font-size: 14px; /* Tamaño de fuente de la descripción */
    margin-top: 8px; /* Márgenes superiores de la descripción */
}
